.wrapper{
  position: relative;
  height: 360px;
  width: 640px;
  margin: 0 auto;
  max-width: 100%;
}

.container{
  border: 2px solid blue;
  position: relative;
  height: 100%;
  width: 100%;
}

.reactPlayer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay{
  background-color: #000000bb;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  margin: 0px;
  z-index: 10;
  color: yellow;
}

.topRow{
  text-align: center;
}

.controlIcon{
  font-size: 25pt;
  cursor: pointer;
  /* border: 1px solid purple; */
}

.playPause{
  margin: 0 25px;
}