.container{
  border: 2px solid blue;
  position: relative;
  height: 360px;
  width: 640px;
}

.reactPlayer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  z-index: 10;
  background-color: #ffffff33
}